switching/data/TiposComplejos.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema targetNamespace="http://localhost/elegibilidad" xmlns="http://localhost/elegibilidad" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="TiposSencillos.xsd"/>
	<xs:annotation>
		<xs:documentation>
			Version 0.0 OCSUM 2011.01.31
			Version 2.0 OCSUM 2012.06.18 ModoControlPotencia + DatosCIE
				Se sustituye el nombre de las etiquetas "ICPAportadoInstalado" por "ControlPotenciaPropiedad" e "ICPInstalacion" 
				por "ControlPotenciaInstalacion" en los tipos complejos  "Medida", "MedidaC2" y "MedidaResto" 
				Se ha añadido el tipo complejo "CondicionesContractualesD".
				Se ha añadido la etiqueta "ModoControlPotencia" en "CondicionesContractuales" como elemento opcional
				Se ha añadido la etiqueta "ModoControlPotencia" en "CondicionesContractualesC" como elemento opcional
				Se han añadido los tipos complejos DocTecnica, CIEPapel y CIEElectronico.
				En el tipo complejo DatosCIE se añade CIEPapel, CIEElectronico, ValidezCIE.
				En el tipo complejo DatosCIE se eliminan las etiqueta CieAportado, CodigoCie, SelloElectronico, PotenciaInstBT, 
					FechaEmisionCie, FechaCaducidadCie, NifInstalador, NombreInstalador, TensionSuministroCIE, IntensidadDif, 
					SensibilidadDif, SeccionCable y TipoSuministro.
				En el tipo complejo DatosAPM se han añadido las etiquetas NifInstalador/CodigoInstalador y NombreInstalador y se ha eliminado la etiqueta ApmAportado.
			Version 3.0 OCSUM 2013.04.26 (RD 1718/2013)
				Se incluye el tipo de dato complejo "NotificacionCambiosATRDesdeDistribuidor" compuesto por un tipo nuevo sencillo, hace referencia al Proceso D.
				Se incluye el elemento opcional PeriodicidadFacturacion en el tipo complejo "CondicionesContractualesC", hace referencia al paso 5 del Proceso M1, A3, C1, C2.
			Version 3.2 OCSUM 2014.04.01
			  Se modifican los nodos que contienen CuentaBancaria para que en su lugar contengan IBAN que es un tiposimple X34
		
			Version 3.4 OCSUM 2015.02.05 Cambio de numeración telefónica en el punto de medida
				Se modifica el campo "TelefonoTelemedida" del tipo complejo "PuntoDeMedida" para que permita 13 digitos en vez de 9.
			
			Version 0.0 CNMC 2015.06.10
Reclamaciones o Peticiones
				Se incluye el tipo de dato complejo "DatosAceptacionReclamacion" y "DatoAceptacionReclamacion", hacen referencia al ProcesoR1 AceptacionReclamacion.
				Se incluye el tipo de dato complejo "DatosRechazoReclamacion" y "DatoRechazoReclamacion", hacen referencia al ProcesoR1 RechazoReclamacion.
				Se incluye el tipo de dato complejo "EnvioInformacionReclamacion", "DatosEnvioInformacion", "VariablesAportacionInformacion" y "VariableAportacionInformacion", hacen referencia al Proceso EnvioInformacionReclamacion.
				Se incluye el tipo de dato complejo "CierreReclamacion", "DatosCierre" y "ContratoReclamacionPeticion", hacen referencia al Proceso CierreReclamacion.
				Idreclamante del tipo complejo reclamante pasa a ser opcional
				El nodo VariablesAportacionInformacion pasa a ser opcional
				Se incluye el tipo de dato complejo "Retipificacion"
				El nodo RegistrosDocs es opcional el padre y obligatorios todos los subcampos
				Se incluye el tipo ClienteConDireccionYCorreoE para incluir el correo electrónico en el proceso R
				Se incluye ContactoConCorreoE para incluir el correo electrónico en el proceso R 
				Se modifica Reclamante para incluir el correo electrónico en el proceso R
				Los campos TipoInformacion y DescPeticionInformacion pasan del grupo DatosEnvioInformacion a VariableAportacionInformacion para que el paso 04 del proceso R pueda contestar a n peticioness de información relizadas en el paso 03
				Se modifica el comentario de los campos EnvioInformacionReclamacion/CierreReclamacion para pasarlo a un X4000 -paso 04/05 de reclamaciones-

Modificaciones para PVPC: Se incluye el elemento opcional TipodeTelegestion en el tipo complejo "CondicionesContractualesC", hace referencia a los movimientos de Activación (M1, C1, C2, A3).
			Version 0.1 CNMC 2015.12.23 - Revisión R1
-En el tipo complejo "VariableAportacionInformacion", se modifica el carácter del campo variable a opcional y tipo variable y se modifica el carácter del campo valor a tipo opcional
-Se modifica el tipo complejo "VariableAportacionInformacion" alterando el nombre de los campos que contiene
-Se incluye la definición del elemento "VariableDetalleReclamacion"  del tipo "VariableDetalleReclamacion" (previamente eliminado del TipoMensajeR.xsd
-Se modifica el tipo complejo "DatoRechazoReclamacion" para modificar el campo de comentarios y eliminar la fecha de cada motivo de rechazo.
			Version X.X GISCE 2014.08.07
                          S'afegeix un altre cop CuentaBancaria amb un choice amb IBAN
			Version X.X GISCE 2015.05.22
                          Afegim tag inventat Iberdrola TipodeTelegestión opcional
			Version 0.2 CNMC 2016.04.01
Se incluye un nuevo campo "TipoAutoconsumo" en el tipo complejo "ContratoConModificacion" y en el tipo complejo "contrato"
				
		</xs:documentation>
	</xs:annotation>
	<xs:complexType name="IdContrato">
		<xs:sequence>
			<xs:element name="CodContrato" type="CodigoContrato"/>
			<!-- Un contrato se identifica por su codigo -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdCliente">
		<xs:sequence>
			<xs:element name="TipoCIFNIF" type="TipoIdentificador">
				<xs:annotation>
					<xs:documentation>Tabla 6</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Identificador" type="X9"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContratoPasoMRAMLTarifa2SinCambios">
		<xs:sequence>
			<xs:element name="IdContrato" type="IdContrato"/>
			<xs:choice>
				<xs:element name="FechaFinalizacion" type="xs:date"/>
				<xs:element name="Duracion" type="Decimal2"/>
			</xs:choice>
			<xs:element name="TipoContratoATR" type="TipoContrato"/>
			<xs:element name="DireccionCorrespondencia" type="DireccionCorrespondencia"/>
			<xs:choice minOccurs="0">
				<xs:element name="IBAN" type="X34"/>
				<xs:element name="CuentaBancaria" type="CuentaBancaria"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContratoPasoMRAMLTarifa2ConCambios">
		<xs:sequence>
			<xs:element name="IdContrato" type="IdContrato"/>
			<xs:choice>
				<xs:element name="FechaFinalizacion" type="xs:date"/>
				<xs:element name="Duracion" type="Decimal2"/>
			</xs:choice>
			<xs:element name="TipoContratoATR" type="TipoContrato"/>
			<xs:element name="CondicionesContractuales2n" type="CondicionesContractuales2n"/>
			<xs:element name="Contacto" type="Contacto" minOccurs="0"/>
			<xs:element name="DireccionCorrespondencia" type="DireccionCorrespondencia"/>
			<xs:choice minOccurs="0">
				<xs:element name="IBAN" type="X34"/>
				<xs:element name="CuentaBancaria" type="CuentaBancaria"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Direccion">
		<xs:sequence>
			<xs:element name="Pais" type="X25"/>
			<xs:element name="Provincia" type="Decimal2"/>
			<xs:element name="Municipio" type="Decimal7"/>
			<xs:element name="Poblacion" type="Decimal7"/>
			<xs:element name="TipoVia" type="TipoVia" minOccurs="0"/>
			<xs:element name="CodPostal" type="Decimal5"/>
			<xs:element name="Calle" type="X30"/>
			<xs:element name="NumeroFinca" type="X5"/>
			<xs:element name="DuplicadorFinca" type="X3" minOccurs="0"/>
			<xs:element name="Escalera" type="Escalera" minOccurs="0"/>
			<xs:element name="Piso" type="Piso" minOccurs="0"/>
			<xs:element name="Puerta" type="Puerta" minOccurs="0"/>
			<xs:element name="TipoAclaradorFinca" type="TipoAclaradorFinca" minOccurs="0"/>
			<xs:element name="AclaradorFinca" type="X40" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DireccionSinCodPostal">
		<xs:sequence>
			<xs:element name="Pais" type="X25"/>
			<xs:element name="Provincia" type="Decimal2"/>
			<xs:element name="Municipio" type="Decimal7"/>
			<xs:element name="Poblacion" type="Decimal7"/>
			<xs:element name="TipoVia" type="TipoVia"/>
			<xs:element name="Calle" type="X30"/>
			<xs:element name="NumeroFinca" type="X5"/>
			<xs:element name="DuplicadorFinca" type="X3" minOccurs="0"/>
			<xs:element name="Escalera" type="Escalera" minOccurs="0"/>
			<xs:element name="Piso" type="Piso" minOccurs="0"/>
			<xs:element name="Puerta" type="Puerta" minOccurs="0"/>
			<xs:element name="TipoAclaradorFinca" type="TipoAclaradorFinca" minOccurs="0"/>
			<xs:element name="AclaradorFinca" type="X40" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DireccionCorrespondencia">
		<xs:sequence>
			<xs:element name="Indicador">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="F"/>
						<xs:enumeration value="S"/>
						<xs:enumeration value="O"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Direccion" type="Direccion" minOccurs="0"/>
		</xs:sequence>
		<!-- lleva un "indicador" que es F, S u O, si es O tiene una direccion-->
	</xs:complexType>
	<xs:complexType name="Cliente">
		<xs:sequence>
			<xs:element name="IdCliente" type="IdCliente"/>
			<xs:element name="Nombre" type="NombreCliente"/>
			<xs:element name="Fax" type="TelefonoInternacional" minOccurs="0"/>
			<xs:element name="Telefono" type="TelefonoInternacional" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClienteSinTelefono">
		<xs:sequence>
			<xs:element name="IdCliente" type="IdCliente"/>
			<xs:element name="Nombre" type="NombreCliente"/>
			<xs:element name="TitularContratoVsTitularPago" type="Indicativo" minOccurs="0"/>
			<!-- S coinciden ambos titulares, N no coinciden -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClienteConDireccion">
		<xs:sequence>
			<xs:element name="IdCliente" type="IdCliente"/>
			<xs:element name="Nombre" type="NombreCliente"/>
			<xs:element name="Fax" type="TelefonoInternacional" minOccurs="0"/>
			<xs:element name="Telefono" type="TelefonoInternacional" minOccurs="0"/>
			<xs:element name="IndicadorTipoDireccion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="F"/>
						<xs:enumeration value="S"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Direccion" type="Direccion" minOccurs="0"/>
		</xs:sequence>
		<!-- Nombre Dirección Telefono Fax  -->
	</xs:complexType>
	<xs:complexType name="ClienteConDireccionYCorreoE">
		<xs:sequence>
			<xs:element name="IdCliente" type="IdCliente"/>
			<xs:element name="Nombre" type="NombreCliente"/>
			<xs:element name="Fax" type="TelefonoInternacional" minOccurs="0"/>
			<xs:element name="Telefono" type="TelefonoInternacional" minOccurs="0"/>
			<xs:element name="CorreoElectronico" type="X60" minOccurs="0"/>
			<xs:element name="IndicadorTipoDireccion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="F"/>
						<xs:enumeration value="S"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Direccion" type="Direccion" minOccurs="0"/>
		</xs:sequence>
		<!-- Nombre Dirección Telefono Fax  -->
	</xs:complexType>
	<xs:complexType name="IdYNombreCliente">
		<xs:sequence>
			<xs:element name="IdCliente" type="IdCliente"/>
			<xs:element name="Nombre" type="NombreCliente"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NombreCliente">
		<xs:choice>
			<xs:sequence>
				<xs:element name="NombreDePila" type="X45"/>
				<xs:element name="PrimerApellido" type="X45"/>
				<xs:element name="SegundoApellido" type="X45" minOccurs="0"/>
			</xs:sequence>
			<xs:element name="RazonSocial" type="X45"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Comentario">
		<xs:sequence>
			<xs:element name="Texto" type="X120"/>
			<xs:element name="Fecha" type="xs:date"/>
			<xs:element name="Hora" type="xs:time"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Comentarios">
		<xs:sequence>
			<xs:element name="Comentario" type="Comentario" minOccurs="0" maxOccurs="50"/>
		</xs:sequence>
	</xs:complexType>
	<!-- del registro A-->
	<xs:complexType name="Medida">
		<xs:sequence>
			<xs:element name="ControlPotenciaPropiedad" type="IndicativoNCD"/>
			<xs:element name="ControlPotenciaInstalacion" type="IndicativoYCD"/>
			<xs:element name="EquipoAportadoCliente" type="IndicativoNCD"/>
			<xs:element name="EquipoInstaladoCliente" type="IndicativoYCD"/>
			<xs:element name="TipoEquipoMedida" type="TiposEquipoMedida"/>
			<xs:element name="ModelosAparato" type="ModelosAparato"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MedidaC2">
		<xs:sequence>
			<xs:element name="ControlPotenciaPropiedad" type="IndicativoNCD"/>
			<xs:element name="ControlPotenciaInstalacion" type="IndicativoYCD"/>
			<xs:element name="EquipoAportadoCliente" type="IndicativoNCD"/>
			<xs:element name="EquipoInstaladoCliente" type="IndicativoYCD"/>
			<xs:element name="TipoEquipoMedida" type="TiposEquipoMedida" minOccurs="0"/>
			<xs:element name="ModelosAparato" type="ModelosAparato"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MedidaResto">
		<xs:sequence>
			<xs:element name="ControlPotenciaPropiedad" type="IndicativoNCD" minOccurs="0"/>
			<xs:element name="ControlPotenciaInstalacion" type="IndicativoYCD" minOccurs="0"/>
			<xs:element name="EquipoAportadoCliente" type="IndicativoNCD" minOccurs="0"/>
			<xs:element name="EquipoInstaladoCliente" type="IndicativoYCD" minOccurs="0"/>
			<xs:element name="TipoEquipoMedida" type="TiposEquipoMedida"/>
			<xs:element name="ModelosAparato" type="ModelosAparato"/>
		</xs:sequence>
	</xs:complexType>
	<!-- del tipo A -->
	<xs:complexType name="ModelosAparato">
		<xs:sequence>
			<xs:element name="ModeloAparato" type="ModeloAparato" minOccurs="0" maxOccurs="50"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ModeloAparato">
		<xs:sequence>
			<xs:element name="Tipo" type="TipoAparato">
				<xs:annotation>
					<xs:documentation>Tabla 24</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Marca" type="MarcaAparato">
				<xs:annotation>
					<xs:documentation>Tabla 25</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModeloMarca" type="X30" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CondicionesContractuales">
		<xs:sequence>
			<xs:element name="TarifaATR" type="Tarifa"/>
			<xs:element name="PotenciasContratadas" type="Potencias"/>
			<xs:element name="PotenciasMaximas" type="Potencias" minOccurs="0"/>
			<xs:element name="ModoControlPotencia" type="ModoControlPotencia" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CondicionesContractualesD">
		<xs:sequence>
			<xs:element name="TarifaATR" type="Tarifa"/>
			<xs:element name="PotenciasContratadas" type="Potencias"/>
			<xs:element name="PotenciasMaximas" type="Potencias" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CondicionesContractualesC">
		<xs:sequence>
			<xs:element name="TarifaATR" type="Tarifa"/>
			<xs:element name="PeriodicidadFacturacion" type="Periodicidad"/>
			<xs:element name="TipodeTelegestion" type="TipodeTelegestion" minOccurs="0"/>
			<xs:element name="PotenciasContratadas" type="Potencias"/>
			<xs:element name="PotenciasMaximas" type="Potencias" minOccurs="0"/>
			<xs:element name="ModoControlPotencia" type="ModoControlPotencia" minOccurs="0"/>
			<xs:element name="MarcaMedidaBTConPerdidas" type="X2" minOccurs="0"/>
			<xs:element name="KVAsTrafo" type="Potencia" minOccurs="0"/>
			<xs:element name="PorcentajePerdidasPactadas" type="X6" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CondicionesContractuales2n">
		<xs:sequence>
			<xs:element name="TarifaATR" type="Tarifa"/>
			<xs:element name="PotenciasContratadas" type="Potencias"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Potencias">
		<xs:sequence>
			<xs:element name="Potencia" maxOccurs="10">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="Potencia">
							<xs:attribute name="Periodo" type="xs:integer" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contacto">
		<xs:sequence>
			<xs:element name="Nombre" type="NombreCliente"/>
			<xs:element name="Telefono" type="TelefonoInternacional"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactoConCorreoE">
		<xs:sequence>
			<xs:element name="Nombre" type="NombreCliente"/>
			<xs:element name="Telefono" type="TelefonoInternacional"/>
			<xs:element name="CorreoElectronico" type="X60" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CuentaBancaria">
		<xs:sequence>
			<xs:element name="Banco" type="Decimal4"/>
			<xs:element name="Sucursal" type="Decimal4"/>
			<xs:element name="DC">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{2}|[*]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Cuenta" type="Decimal10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contrato">
		<xs:sequence>
			<xs:element name="IdContrato" type="IdContrato"/>
			<xs:choice>
				<xs:element name="FechaFinalizacion" type="xs:date"/>
				<xs:element name="Duracion" type="Decimal2"/>
			</xs:choice>
			<xs:element name="TipoAutoconsumo" type="TipoAutoconsumo" minOccurs="0"/>
			<xs:element name="TipoContratoATR" type="TipoContrato"/>
			<xs:element name="CondicionesContractuales" type="CondicionesContractuales"/>
			<xs:element name="ConsumoAnualEstimado" type="Decimal13" minOccurs="0"/>
			<xs:element name="Contacto" type="Contacto" minOccurs="0"/>
			<xs:element name="DireccionCorrespondencia" type="DireccionCorrespondencia"/>
			<xs:choice minOccurs="0">
				<xs:element name="IBAN" type="X34"/>
				<xs:element name="CuentaBancaria" type="CuentaBancaria"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContratoConModificacion">
		<xs:sequence>
			<xs:element name="IdContrato" type="IdContrato"/>
			<xs:choice>
				<xs:element name="FechaFinalizacion" type="xs:date"/>
				<xs:element name="Duracion" type="Decimal2"/>
			</xs:choice>
			<xs:element name="TipoAutoconsumo" type="TipoAutoconsumo" minOccurs="0"/>
			<xs:element name="TipoContratoATR" type="TipoContrato"/>
			<xs:element name="CondicionesContractuales" type="CondicionesContractuales"/>
			<xs:element name="ConsumoAnualEstimado" type="Decimal13" minOccurs="0"/>
			<xs:element name="Contacto" type="Contacto" minOccurs="0"/>
			<xs:element name="DireccionCorrespondencia" type="DireccionCorrespondencia"/>
			<xs:choice minOccurs="0">
				<xs:element name="IBAN" type="X34"/>
				<xs:element name="CuentaBancaria" type="CuentaBancaria"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- del tipo C -->
	<xs:complexType name="PuntosDeMedida">
		<xs:sequence>
			<xs:element name="PuntoDeMedida" type="PuntoDeMedida" maxOccurs="10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PuntoDeMedida">
		<xs:sequence>
			<xs:element name="CodPM" type="CodPM"/>
			<xs:element name="TipoMovimiento" type="AltaBajaModificacion"/>
			<xs:element name="CodREE" type="X8" minOccurs="0"/>
			<xs:element name="CUPS" type="CUPS"/>
			<xs:element name="TipoPM" type="TipoPM"/>
			<xs:element name="CodPMPrincipal" type="CodPM" minOccurs="0"/>
			<xs:element name="ModoLectura" type="ModoLecturaPM"/>
			<xs:element name="EstadoPM" type="EstadoPM"/>
			<xs:element name="Funcion" type="FuncionPM"/>
			<xs:element name="DireccionEnlace" type="X10" minOccurs="0"/>
			<xs:element name="DireccionPuntoMedida" type="X10" minOccurs="0"/>
			<xs:element name="NumLinea" type="Decimal2" minOccurs="0"/>
			<xs:element name="TelefonoTelemedida" type="Decimal13" minOccurs="0"/>
			<xs:element name="EstadoTelefono" type="EstadoTelefono" minOccurs="0"/>
			<xs:element name="ClaveAcceso" type="X10" minOccurs="0"/>
			<xs:element name="TensionPM" type="Decimal9" minOccurs="0"/>
			<xs:element name="FechaVigor" type="xs:date"/>
			<xs:element name="FechaAlta" type="xs:date"/>
			<xs:element name="FechaBaja" type="xs:date" minOccurs="0"/>
			<xs:element name="PasswordPM" type="X10" minOccurs="0"/>
			<xs:element name="Aparatos" type="Aparatos" minOccurs="0"/>
			<xs:element name="ComentariosPM" type="ComentariosPM" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- En realidad son 400 aparatos (40 por cada PM) -->
	<xs:complexType name="Aparatos">
		<xs:sequence>
			<xs:element name="Aparato" type="Aparato" maxOccurs="40"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Aparato">
		<xs:sequence>
			<xs:element name="Modelo" type="ModeloAparato"/>
			<xs:element name="TipoMovimiento" type="TipoMovimiento"/>
			<xs:element name="TipoEquipoMedida" type="TiposEquipoMedida"/>
			<xs:element name="TipoPropiedadAparato" type="TipoPropiedadAparato"/>
			<xs:element name="Propietario" type="X20" minOccurs="0"/>
			<xs:element name="ExtraccionLecturas" type="Indicativo" minOccurs="0"/>
			<xs:element name="DiscriminacionHorariaActiva" type="TipoDHActiva" minOccurs="0"/>
			<xs:element name="DiscriminacionHorariaMaximas" type="TipoDHMaximas" minOccurs="0"/>
			<xs:element name="LecturaDirecta" type="Indicativo" minOccurs="0"/>
			<xs:element name="CodPrecinto">
				<xs:annotation>
					<xs:documentation>Codigo de precinto</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:element name="DatosAparatoNoICP" type="DatosAparatoNoICP"/>
				<xs:element name="DatosAparatoICP" type="DatosAparatoICP"/>
			</xs:choice>
			<xs:element name="Medidas" type="MedidasAparato" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosAparatoNoICP">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>aparato normal (no ICP) </xs:documentation>
			</xs:annotation>
			<xs:element name="PeriodoFabricacion" type="Decimal4"/>
			<xs:element name="NumeroSerie" type="X10"/>
			<xs:element name="FuncionAparato" type="FuncionAparato"/>
			<xs:element name="NumIntegradores" type="Decimal2"/>
			<xs:element name="ConstanteEnergia" type="DecimalS9V3"/>
			<xs:element name="ConstanteMaximetro" type="DecimalS9V3"/>
			<xs:element name="RuedasEnteras" type="Decimal2"/>
			<xs:element name="RuedasDecimales" type="Decimal2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosAparatoICP">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>equipo ICP</xs:documentation>
			</xs:annotation>
			<xs:element name="PeriodoFabricacion" type="Decimal4" minOccurs="0"/>
			<xs:element name="NumeroSerie" type="X10" minOccurs="0"/>
			<xs:element name="FuncionAparato" type="FuncionAparato" minOccurs="0"/>
			<xs:element name="NumIntegradores" type="Decimal2" minOccurs="0"/>
			<xs:element name="ConstanteEnergia" type="DecimalS9V3" minOccurs="0"/>
			<xs:element name="ConstanteMaximetro" type="DecimalS9V3" minOccurs="0"/>
			<xs:element name="RuedasEnteras" type="Decimal2" minOccurs="0"/>
			<xs:element name="RuedasDecimales" type="Decimal2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComentariosPM">
		<xs:sequence>
			<xs:element name="ComentarioPM" type="ComentarioPM" minOccurs="0" maxOccurs="10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComentarioPM">
		<xs:sequence>
			<xs:element name="Texto" type="X120"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MedidasAparato">
		<xs:sequence>
			<xs:element name="Medida" type="MedidaAparato" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MedidaAparato">
		<xs:sequence>
			<xs:element name="TipoDH" type="TipoDH"/>
			<xs:element name="Periodo" type="TipoCodigoPeriodoDH"/>
			<xs:element name="MagnitudMedida" type="MagnitudMedida"/>
			<xs:element name="Procedencia" type="Procedencia"/>
			<xs:element name="LecturaAnterior" type="DecimalS10V2"/>
			<xs:element name="Anomalia" type="AnomaliaMedida" minOccurs="0"/>
			<xs:element name="TextoAnomalia" type="X250" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelefonoInternacional">
		<xs:sequence>
			<xs:element name="PrefijoPais" type="Decimal2"/>
			<xs:element name="Numero" type="Decimal9"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosAceptacion">
		<xs:sequence>
			<xs:element name="FechaAceptacion" type="xs:date"/>
			<xs:element name="PotenciaActual" type="Potencia"/>
			<xs:element name="ActuacionCampo" type="Indicativo"/>
			<xs:element name="FechaUltimaLectura" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosTitular">
		<xs:sequence>
			<xs:element name="TipoTitular" type="X2" minOccurs="0"/>
			<xs:element name="Titular" type="X50" minOccurs="0"/>
			<xs:element name="Calle" type="X80" minOccurs="0"/>
			<xs:element name="Poblacion" type="X45" minOccurs="0"/>
			<xs:element name="CodPostal" type="Decimal5" minOccurs="0"/>
			<xs:element name="Provincia" type="X45" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reclamante">
		<xs:sequence>
			<xs:element name="TipoReclamante" type="TipoReclamante"/>
			<xs:element name="Reclamante" type="DatosReclamante" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosReclamante">
		<xs:sequence>
			<xs:element name="IdReclamante" type="IdReclamante"/>
			<xs:element name="Nombre" type="NombreCliente"/>
			<xs:element name="Fax" type="TelefonoInternacional" minOccurs="0"/>
			<xs:element name="Telefono" type="TelefonoInternacional" minOccurs="0"/>
			<xs:element name="CorreoElectronico" type="X60" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdReclamante">
		<xs:sequence>
			<xs:element name="TipoCIFNIF" type="TipoIdentificador">
				<xs:annotation>
					<xs:documentation>Tabla 6</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Identificador" type="X9"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactoConDireccion">
		<xs:sequence>
			<xs:element name="NombreDePila" type="X45"/>
			<xs:element name="PrimerApellido" type="X45"/>
			<xs:element name="SegundoApellido" type="X45" minOccurs="0"/>
			<xs:element name="Telefono" type="TelefonoInternacional" minOccurs="0"/>
			<xs:element name="IndicadorTipoDireccion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="F"/>
						<xs:enumeration value="S"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Direccion" type="Direccion" minOccurs="0"/>
		</xs:sequence>
		<!-- Nombre Dirección Telefono  -->
	</xs:complexType>
	<xs:complexType name="DatosReclamacion">
		<xs:sequence>
			<xs:element name="TipoMovimientoSolicitud" type="IndicativoARO"/>
			<xs:element name="TipoReclamacion" type="TipoReclamacion" minOccurs="0"/>
			<xs:element name="FechaIncidencia" type="xs:date"/>
			<xs:element name="Comentario" type="X400"/>
			<xs:element name="IndemnizacionSolicitada" type="X13"/>
			<xs:element name="FechaLimiteLegal" type="xs:date" minOccurs="0"/>
		</xs:sequence>
		<!-- Datos Reclamacion  -->
	</xs:complexType>
	<xs:complexType name="DatosReclamacionFactura">
		<xs:sequence>
			<xs:element name="CodFiscalFactura" type="X30"/>
			<xs:element name="ImporteFactReclamada" type="X15"/>
			<xs:element name="CodAgrupacion" type="X20" minOccurs="0"/>
			<xs:element name="FechaFactura" type="xs:date"/>
			<xs:element name="FechaDesdeFact" type="xs:date" minOccurs="0"/>
			<xs:element name="FechaHastaFact" type="xs:date" minOccurs="0"/>
		</xs:sequence>
		<!-- Datos ReclamacionFactura  -->
	</xs:complexType>
	<xs:complexType name="DatosAutolecturas">
		<xs:sequence>
			<xs:element name="TipoDH" type="TipoDH"/>
			<xs:element name="Periodo" type="TipoCodigoPeriodoDH"/>
			<xs:element name="MagnitudMedida" type="MagnitudMedida"/>
			<xs:element name="Aparato" type="ModeloAparatoAutolecturas"/>
			<xs:element name="Procedencia" type="Procedencia"/>
			<xs:element name="LecturaPropuesta" type="DecimalS10V2"/>
			<xs:element name="FechaLectura" type="xs:date"/>
		</xs:sequence>
		<!-- Datos Autolecturas  -->
	</xs:complexType>
	<xs:complexType name="RegistroAutolecturas">
		<xs:sequence>
			<xs:element name="Autolecturas" type="DatosAutolecturas" minOccurs="0" maxOccurs="50"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ModeloAparatoAutolecturas">
		<xs:sequence>
			<xs:element name="Tipo" type="TipoAparato">
				<xs:annotation>
					<xs:documentation>Tabla 24</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Marca" type="MarcaAparato">
				<xs:annotation>
					<xs:documentation>Tabla 25</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModeloMarca" type="X30" minOccurs="0"/>
			<xs:element name="NumeroSerie" type="X10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocTecnica">
		<xs:sequence>
			<xs:element name="DatosCie" type="DatosCIE" minOccurs="0"/>
			<xs:element name="DatosApm" type="DatosAPM" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosCIE">
		<xs:sequence>
			<xs:element name="CieElectronico" type="X1"/>
			<xs:element name="CIEPapel" type="CIEPapel" minOccurs="0"/>
			<xs:element name="CIEElectronico" type="CIEElectronico" minOccurs="0"/>
			<xs:element name="ValidezCIE" type="AmbitoValidezCIE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CIEPapel">
		<xs:sequence>
			<xs:element name="CodigoCie" type="X35"/>
			<xs:element name="PotenciaInstBT" type="Decimal11"/>
			<xs:element name="FechaEmisionCie" type="xs:date"/>
			<xs:element name="FechaCaducidadCie" type="xs:date" minOccurs="0"/>
			<xs:choice>
				<xs:element name="NifInstalador" type="X9"/>
				<xs:element name="CodigoInstalador" type="X9"/>
			</xs:choice>
			<xs:element name="NombreInstalador" type="X45"/>
			<xs:element name="TensionSuministroCIE" type="TensionSuministroCIEyAPM"/>
			<xs:element name="IntensidadDif" type="X2" minOccurs="0"/>
			<xs:element name="SensibilidadDif" type="X2" minOccurs="0"/>
			<xs:element name="SeccionCable" type="X2" minOccurs="0"/>
			<xs:element name="TipoSuministro" type="TiposSuministro"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CIEElectronico">
		<xs:sequence>
			<xs:element name="CodigoCie" type="X35" minOccurs="0"/>
			<xs:element name="SelloElectronico" type="X30" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosAPM">
		<xs:sequence>
			<xs:element name="CodigoApm" type="X35"/>
			<xs:element name="PotenciaInstAT" type="Decimal11"/>
			<xs:element name="FechaEmisionApm" type="xs:date"/>
			<xs:element name="FechaCaducidadApm" type="xs:date" minOccurs="0"/>
			<xs:element name="TensionSuministroAPM" type="TensionSuministroCIEyAPM"/>
			<xs:choice>
				<xs:element name="NifInstalador" type="X9"/>
				<xs:element name="CodigoInstalador" type="X9"/>
			</xs:choice>
			<xs:element name="NombreInstalador" type="X45"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistroDoc">
		<xs:sequence>
			<xs:element name="TipoDocAportado" type="TiposDocumentacion" minOccurs="0"/>
			<xs:element name="DireccionUrl" type="X255" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrosDocs">
		<xs:sequence>
			<xs:element name="RegistroDoc" type="RegistroDoc" minOccurs="0" maxOccurs="50"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrosValAnomalias">
		<xs:sequence>
			<xs:element name="RegistroValAnomalias" type="RegistroValAnomalias" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistroValAnomalias">
		<xs:sequence>
			<xs:element name="InicioRefacturacion" type="xs:date"/>
			<xs:element name="FinRefacturacion" type="xs:date"/>
			<xs:element name="FechaDesdeHistorico" type="xs:date" minOccurs="0"/>
			<xs:element name="FechaHastaHistorico" type="xs:date" minOccurs="0"/>
			<xs:element name="CodigoTarifa" type="Tarifa" minOccurs="0"/>
			<xs:element name="Potencias" type="PotenciasAFacturar" minOccurs="0"/>
			<xs:element name="Energias" type="EnergiasAFacturar" minOccurs="0"/>
			<xs:element name="Reactivas" type="ReactivasAFacturar" minOccurs="0"/>
			<xs:element name="ExcesosPotencia" type="ExcesosPotAFacturar" minOccurs="0"/>
			<xs:element name="OtrosConceptos" type="OtrosConceptos" minOccurs="0"/>
			<xs:element name="Importes" type="Importes" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PotenciasAFacturar">
		<xs:sequence>
			<xs:element name="PotenciaAFacturar" maxOccurs="6">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="Potencia">
							<xs:attribute name="periodo" type="xs:integer" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnergiasAFacturar">
		<xs:sequence>
			<xs:element name="EnergiaAFacturar" maxOccurs="6">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="EnergiaFact">
							<xs:attribute name="periodo" type="xs:integer" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReactivasAFacturar">
		<xs:sequence>
			<xs:element name="ReactivaAFacturar" maxOccurs="6">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ReactivaFact">
							<xs:attribute name="periodo" type="xs:integer" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExcesosPotAFacturar">
		<xs:sequence>
			<xs:element name="ExcesoPotAFacturar" maxOccurs="6">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ExcesoPotFact">
							<xs:attribute name="periodo" type="xs:integer" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtrosConceptos">
		<xs:sequence>
			<xs:element name="Concepto" maxOccurs="3">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="TipoConcepto"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImportesTerminoPotencia">
		<xs:sequence>
			<xs:element name="ImporteTerminoPotencia" maxOccurs="6">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="Importe"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImportesTerminoEnergia">
		<xs:sequence>
			<xs:element name="ImporteTerminoEnergia" maxOccurs="6">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="Importe"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImportesOtrosConceptos">
		<xs:sequence>
			<xs:element name="ImporteOtrosConceptos" maxOccurs="3">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="Importe"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Importes">
		<xs:sequence>
			<xs:element name="ImportesTerminoPotencia" type="ImportesTerminoPotencia" minOccurs="0"/>
			<xs:element name="ImportesTerminoEnergia" type="ImportesTerminoEnergia" minOccurs="0"/>
			<xs:element name="ImporteReactiva" type="Importe" minOccurs="0"/>
			<xs:element name="ImporteExcesoPotencia" type="Importe" minOccurs="0"/>
			<xs:element name="ImporteAlquileres" type="Importe" minOccurs="0"/>
			<xs:element name="ImportesOtrosConceptos" type="ImportesOtrosConceptos" minOccurs="0"/>
			<xs:element name="ImpuestoElectrico" type="Importe" minOccurs="0"/>
			<xs:element name="IVA" type="Importe" minOccurs="0"/>
			<xs:element name="ImporteTotal" type="Importe" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Anomalias">
		<xs:sequence>
			<xs:element name="Anomalia" type="Anomalia" maxOccurs="5"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Anomalia">
		<xs:sequence>
			<xs:element name="CodAnomalia" type="TipoAnomalia"/>
			<xs:element name="Descripcion" type="X45"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotificacionCambiosATRDesdeDistribuidor">
		<xs:sequence>
			<xs:element name="MotivoCambioATRDesdeDistribuidora" type="MotivoCambioATRDesdeDistribuidora"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosAceptacionReclamacion">
		<xs:sequence>
			<xs:element name="DatosAceptacion" type="DatoAceptacionReclamacion"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatoAceptacionReclamacion">
		<xs:sequence>
			<xs:element name="FechaAceptacion" type="xs:date"/>
			<xs:element name="CodigoReclamacionDistribuidora" type="X26"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosRechazoReclamacion">
		<xs:sequence>
			<xs:element name="Rechazo" type="DatoRechazoReclamacion" maxOccurs="5"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatoRechazoReclamacion">
		<xs:sequence>
			<xs:element name="Secuencial" type="DecimalS9V2"/>
			<xs:element name="CodigoMotivo" type="CodigoMotivoRechazo"/>
			<xs:element name="Comentarios" type="X4000" minOccurs="0"/>
			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnvioInformacionReclamacion">
		<xs:sequence>
			<xs:element name="DatosEnvioInformacion" type="DatosEnvioInformacion"/>
			<xs:element name="VariablesAportacionInformacion" type="VariablesAportacionInformacion" minOccurs="0"/>
			<xs:element name="Comentarios" type="X4000"/>
			<xs:element name="RegistrosDocumento" type="RegistrosDocs" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosEnvioInformacion">
		<xs:sequence>
			<xs:element name="NumExpedienteAcometida" type="X20" minOccurs="0"/>
			<xs:element name="FechaInformacion" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VariablesAportacionInformacion">
		<xs:sequence>
			<xs:element name="VariableAportacionInformacion" type="VariableAportacionInformacion" maxOccurs="10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VariableAportacionInformacion">
		<xs:sequence> 
			<xs:element name="TipoInformacion" type="TipoInformacionAdicional"/>
			<xs:element name="DescPeticionInformacion" type="X255" minOccurs="0"/>
			<xs:element name="Variable" type="Variable" minOccurs="0"/>
			<xs:element name="Valor" type="X45" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VariableDetalleReclamacion">
		<xs:sequence>
			<xs:element name="NumExpedienteAcometida" type="X20" minOccurs="0"/>
			<xs:element name="FechaIncidente" type="xs:date" minOccurs="0"/>
			<xs:element name="NumFacturaATR" type="X26" minOccurs="0"/>
			<xs:element name="TipoConceptoFacturado" type="TipoConceptoFacturado" minOccurs="0"/>
			<xs:element name="FechaLectura" type="xs:date" minOccurs="0"/>
			<xs:element name="CodigoDH" type="TipoDH" minOccurs="0"/>
			<xs:element name="LecturasAportadas" type="LecturasAportadas" minOccurs="0"/>
			<xs:element name="CodigoIncidencia" type="TipoIncidencia" minOccurs="0"/>
			<xs:element name="CodigoSolicitud" type="CodigoDeSolicitud" minOccurs="0"/>
			<xs:element name="ParametroContratacion" type="ParametroContratacion" minOccurs="0"/>
			<xs:element name="ConceptoDisconformidad" type="X120" minOccurs="0"/>
			<xs:element name="TipoDeAtencionIncorrecta" type="TipoAtencionIncorrecta" minOccurs="0"/>
			<xs:element name="IBAN" type="X34" minOccurs="0"/>
			<xs:element name="Contacto" type="ContactoConCorreoE" minOccurs="0"/>
			<xs:element name="CodigoSolicitudReclamacion" type="CodigoDeSolicitud" minOccurs="0"/>
			<xs:element name="FechaDesde" type="xs:date" minOccurs="0"/>
			<xs:element name="FechaHasta" type="xs:date" minOccurs="0"/>
			<xs:element name="ImporteReclamado" type="DecimalS10V4" minOccurs="0"/>
			<xs:element name="UbicacionIncidencia" type="X45" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LecturasAportadas">
		<xs:sequence>
			<xs:element name="LecturaAportada" maxOccurs="20">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Integrador" type="MagnitudMedida" minOccurs="1"/>
						<xs:element name="CodigoPeriodoDH" type="TipoCodigoPeriodoDH" minOccurs="1"/>
						<xs:element name="LecturaPropuesta" type="DecimalS10V2" minOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CierreReclamacion">
		<xs:sequence>
			<xs:element name="DatosCierre" type="DatosCierre"/>
			<xs:element name="Retipificacion" type="Retipificacion" minOccurs="0"/>
			<xs:element name="CodContrato" type="CodigoContrato" minOccurs="0"/>
			<xs:element name="Comentarios" type="X4000"/>
			<xs:element name="RegistrosDocumento" type="RegistrosDocs" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Retipificacion">
		<xs:sequence>
			<xs:element name="Tipo" type="TipoReclamacionPeticion"/>
			<xs:element name="Subtipo" type="SubtipoReclamacionPeticion"/>
			<xs:element name="DescRetipificacion" type="X255" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosCierre">
		<xs:sequence>
			<xs:element name="NumExpedienteAcometida" type="X20" minOccurs="0"/>
			<xs:element name="Fecha" type="xs:date"/>
			<xs:element name="Hora" type="xs:time"/>
			<xs:element name="Tipo" type="TipoReclamacionPeticion"/>
			<xs:element name="Subtipo" type="SubtipoReclamacionPeticion"/>
			<xs:element name="CodigoReclamacionDistribuidora" type="X26"/>
			<xs:element name="ResultadoReclamacion" type="ResultadoReclamacion"/>
			<xs:element name="DetalleResultado" type="DetalleResultado" minOccurs="0"/>
			<xs:element name="Observaciones" type="X400" minOccurs="0"/>
			<xs:element name="IndemnizacionAbonada" type="DecimalS10V2" minOccurs="0"/>
			<xs:element name="NumExpedienteAnomaliaFraude" type="X20" minOccurs="0"/>
			<xs:element name="FechaMovimiento" type="xs:date" minOccurs="0"/>
			<xs:element name="CodigoSolicitud" type="CodigoDeSolicitud" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContratoReclamacionPeticion">
		<xs:sequence>
			<xs:element name="IdContrato" type="IdContrato"/>
			<xs:element name="TipoContratoATR" type="TipoContrato"/>
			<xs:element name="TarifaATR" type="TarifaATR"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
